<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left btn-back"></a>
  <h1 class="title"><%= name %></h1>
</header>

<div class="content" id="indicadorContent">
    <ul class="table-view">
      <li class="table-view-cell"><%= coverage %></li>
      <li class="table-view-cell table-view-cell"><%= description %></li>
      <li class="table-view-cell"><%= measureType %></li>
      <li class="table-view-cell"><%= name %></li>
      <li class="table-view-cell"><%= optionalValues %></li>
      <li class="table-view-cell"><%= period %></li>
      <li class="table-view-cell"><%= source %></li>
      <li class="table-view-cell"><%= totalValues %></li>
    </ul>
</div>