<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left btn-back"></a>
  <h1 class="title">Reportar</h1>
</header>

<div class="content">
    <div id="formContainer">
        <form>
          <select>
              <% _.each(categories, function(c) { %>
                <option value="<%= c.objectId %>"><%= c.description %></option>
              <% }); %>
          </select>
          <input type="text" placeholder="Av. cr 7 #a">
          <textarea rows="5" placeholder="comentario..."></textarea>
          <button class="btn btn-positive btn-block btn-ok">Enviar reporte</button>
        </form> 
    </div> 
</div>